<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="Nomad.Configuration.FormSettings.MainForm" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.VirtualFilePanelSettings.RightPanel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.VirtualFilePanelSettings.LeftPanel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.TwoPanelContainerSettings.MainTab" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.Configuration.ToolbarSettings.Default" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.Configuration.ToolbarSettings.Additional" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nomad.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <plugins>
        <cache>
            <add assemblyPath="Plugins\CmdLinePlugin.dll" uuid="975fba26-efc9-445b-9d67-bf9d7d294792"
                fullName="CmdLinePlugin, Version=1.1.0.13, Culture=neutral, PublicKeyToken=null"
                size="18944" modifiedTime="06/13/2016 11:21:52">
                <types>
                    <type extensionType="Nomad.Commons.Controls.Actions.IAction, Nomad.Commons">
                        <classes>
                            <class classType="Nomad.Plugin.CmdLinePlugin.ActivateCmdLineCommand" />
                            <class classType="Nomad.Plugin.CmdLinePlugin.AppendNameToCmdLineCommand" />
                            <class classType="Nomad.Plugin.CmdLinePlugin.AppendNameAndPathToCmdLineCommand" />
                            <class classType="Nomad.Plugin.CmdLinePlugin.ExecuteCmdLineCommand" />
                        </classes>
                    </type>
                    <type extensionType="Nomad.Shared.IRunOnce, Nomad.Shared">
                        <classes>
                            <class classType="Nomad.Plugin.CmdLinePlugin.CommandLinePlugin" />
                        </classes>
                    </type>
                    <type extensionType="System.Configuration.ApplicationSettingsBase, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <classes>
                            <class classType="Nomad.Plugin.CmdLinePlugin.Properties.SettingsReference" />
                        </classes>
                    </type>
                </types>
            </add>
            <add assemblyPath="Plugins\CmdPromptTabPlugin.dll" uuid="a4e8e69e-449f-45ae-9a3c-ebefeb0e2cdd"
                fullName="CmdPromptTabPlugin, Version=2.2.0.61, Culture=neutral, PublicKeyToken=null"
                size="47104" modifiedTime="06/13/2016 11:21:53">
                <types>
                    <type extensionType="System.Configuration.IPersistComponentSettings, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <classes>
                            <class classType="Nomad.Plugin.CmdPrompt.CmdPromptOptionControl" />
                        </classes>
                    </type>
                    <type extensionType="Nomad.Commons.Controls.Actions.IAction, Nomad.Commons">
                        <classes>
                            <class classType="Nomad.Plugin.CmdPrompt.NewCmdPromptTabCommand" />
                        </classes>
                    </type>
                    <type extensionType="System.Configuration.ApplicationSettingsBase, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <classes>
                            <class classType="Nomad.Plugin.CmdPrompt.Properties.SettingsReference" />
                        </classes>
                    </type>
                </types>
            </add>
            <add assemblyPath="Plugins\VirusTotalPlugin.dll" uuid="c2e2a809-67c3-4da8-aa0f-8fdd957b96e0"
                fullName="VirusTotalPlugin, Version=1.0.0.14, Culture=neutral, PublicKeyToken=null"
                size="48640" modifiedTime="06/13/2016 11:21:53">
                <types>
                    <type extensionType="Nomad.Commons.Controls.Actions.IAction, Nomad.Commons">
                        <classes>
                            <class classType="Nomad.Plugin.VirusTotalPlugin.AnalyseSuspiciousFileCommand" />
                        </classes>
                    </type>
                </types>
            </add>
        </cache>
    </plugins>
    <userSettings>
        <Nomad.Configuration.FormSettings.MainForm>
            <setting name="Size" serializeAs="String">
                <value>740, 554</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
        </Nomad.Configuration.FormSettings.MainForm>
        <Nomad.VirtualFilePanelSettings.RightPanel>
            <setting name="Content" serializeAs="Xml">
                <value>
                    <PanelContentContainer xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <QuickFindOptions>ExecuteOnEnter AutoHide AutoShow</QuickFindOptions>
                        <FolderPath>C:\</FolderPath>
                        <Sort>Extension Asc,Alphabet,Natural,FoldersFirst</Sort>
                    </PanelContentContainer>
                </value>
            </setting>
            <setting name="Layout" serializeAs="Xml">
                <value>
                    <PanelLayout xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <FolderBarOrientation>Horizontal</FolderBarOrientation>
                        <SplitterPercent>509</SplitterPercent>
                        <Columns>
                            <ListViewColumnInfo Width="120" Property="Name" Visible="true" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="Size"
                                Visible="true" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="SizeOnDisk" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="CompressedSize" />
                            <ListViewColumnInfo Width="60" Property="LastWriteTime" Visible="true" />
                        </Columns>
                        <ToolbarsVisible>Folder Item Volume Commands</ToolbarsVisible>
                        <StoreEntry>All</StoreEntry>
                    </PanelLayout>
                </value>
            </setting>
            <setting name="QuickFindOptions" serializeAs="String">
                <value>ExecuteOnEnter, AutoHide, AutoShow</value>
            </setting>
        </Nomad.VirtualFilePanelSettings.RightPanel>
        <Nomad.VirtualFilePanelSettings.LeftPanel>
            <setting name="Content" serializeAs="Xml">
                <value>
                    <PanelContentContainer xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <QuickFindOptions>ExecuteOnEnter AutoHide AutoShow</QuickFindOptions>
                        <FolderPath>C:\</FolderPath>
                        <Sort>Extension Asc,Alphabet,Natural,FoldersFirst</Sort>
                    </PanelContentContainer>
                </value>
            </setting>
            <setting name="Layout" serializeAs="Xml">
                <value>
                    <PanelLayout xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <FolderBarOrientation>Horizontal</FolderBarOrientation>
                        <SplitterPercent>509</SplitterPercent>
                        <Columns>
                            <ListViewColumnInfo Width="120" Property="Name" Visible="true" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="Size"
                                Visible="true" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="SizeOnDisk" />
                            <ListViewColumnInfo TextAlign="Right" Width="60" Property="CompressedSize" />
                            <ListViewColumnInfo Width="60" Property="LastWriteTime" Visible="true" />
                        </Columns>
                        <ToolbarsVisible>Folder Item Volume Commands</ToolbarsVisible>
                        <StoreEntry>All</StoreEntry>
                    </PanelLayout>
                </value>
            </setting>
            <setting name="QuickFindOptions" serializeAs="String">
                <value>ExecuteOnEnter, AutoHide, AutoShow</value>
            </setting>
        </Nomad.VirtualFilePanelSettings.LeftPanel>
        <Nomad.TwoPanelContainerSettings.MainTab>
            <setting name="SplitterPercent" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PanelsOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="OnePanelMode" serializeAs="String">
                <value>None</value>
            </setting>
        </Nomad.TwoPanelContainerSettings.MainTab>
        <Nomad.Configuration.ToolbarSettings.Default>
            <setting name="Commands" serializeAs="String">
                <value>actBack,ImageAndText
actForward
actRefresh
-
actBookmarkFolder
actChangeFolder
tsmiSpecialFolders
-
actFind,ImageAndText
-
actCutToClipboard
actCopyToClipboard
actPasteFromClipboard
-
actNewFolder
actNewFile
actCopy
actDelete
actRunAs
actSetAttributes
-
Tools</value>
            </setting>
            <setting name="ImageScaling" serializeAs="String">
                <value>SizeToFit</value>
            </setting>
            <setting name="Dock" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageScalingSize" serializeAs="String">
                <value>16, 16</value>
            </setting>
        </Nomad.Configuration.ToolbarSettings.Default>
        <Nomad.Configuration.ToolbarSettings.Additional>
            <setting name="Dock" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageScalingSize" serializeAs="String">
                <value>16, 16</value>
            </setting>
        </Nomad.Configuration.ToolbarSettings.Additional>
        <Nomad.Shared.Properties.Settings>
            <setting name="SizeFormat" serializeAs="String">
                <value>Dynamic</value>
            </setting>
        </Nomad.Shared.Properties.Settings>
        <Nomad.Properties.Settings>
            <setting name="VisualStyleState" serializeAs="String">
                <value>ClientAndNonClientAreasEnabled</value>
            </setting>
            <setting name="IconOptions" serializeAs="String">
                <value>ExtractIcons, ShowOverlayIcons</value>
            </setting>
            <setting name="DelayedExtractMode" serializeAs="String">
                <value>Always</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>themes/vista</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="PerformInitialInitialize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlowVolumeAutoRefresh" serializeAs="String">
                <value>Simplified</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineId" serializeAs="String">
                <value>1912460a-74f2-674a-b1fe-7d8964b82a63</value>
            </setting>
            <setting name="Highlighters" serializeAs="Xml">
                <value>
                    <ArrayOfListViewHighlighter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ListViewHighlighter>
                            <AggregatedFilter>
                                <Condition>Any</Condition>
                                <Filters>
                                    <AttributeFilter>
                                        <IncludeAttributes>System</IncludeAttributes>
                                        <ExcludeAttributes />
                                    </AttributeFilter>
                                    <AttributeFilter>
                                        <IncludeAttributes>Hidden</IncludeAttributes>
                                        <ExcludeAttributes />
                                    </AttributeFilter>
                                </Filters>
                            </AggregatedFilter>
                            <Name>Hidden</Name>
                            <AlphaBlend>true</AlphaBlend>
                            <BlendColor>GrayText</BlendColor>
                            <ForeColor>GrayText</ForeColor>
                        </ListViewHighlighter>
                        <ListViewHighlighter>
                            <AggregatedFilter>
                                <Condition>All</Condition>
                                <Filters>
                                    <AttributeFilter>
                                        <IncludeAttributes />
                                        <ExcludeAttributes>Directory</ExcludeAttributes>
                                    </AttributeFilter>
                                    <NameFilter>
                                        <NameComparision>Wildcards</NameComparision>
                                        <NamePattern>*.exe;*.com;*.bat;*.cmd;*.VBS;*.VBE;*.JS;*.JSE;*.WSF;*.WSH;*.MSC</NamePattern>
                                    </NameFilter>
                                </Filters>
                            </AggregatedFilter>
                            <Name>Executable</Name>
                            <ForeColor>Purple</ForeColor>
                        </ListViewHighlighter>
                        <ListViewHighlighter>
                            <AggregatedFilter>
                                <Condition>All</Condition>
                                <Filters>
                                    <AttributeFilter>
                                        <IncludeAttributes />
                                        <ExcludeAttributes>Directory</ExcludeAttributes>
                                    </AttributeFilter>
                                    <NameFilter>
                                        <NameComparision>Wildcards</NameComparision>
                                        <NamePattern>*.apm;*.ar;*.a;*.deb;*.lib;*.arj;*.bz2;*.bzip2;*.tbz2;*.tbz;*.msi;*.msp;*.doc;*.xls;*.ppt;*.cpio;*.cramfs;*.dmg;*.fat;*.img;*.gz;*.gzip;*.tgz;*.tpz;*.hfs;*.hfsx;*.ihex;*.lzh;*.lha;*.lzma;*.lzma86;*.mbr;*.mslz;*.mub;*.ntfs;*.pmd;*.rpm;*.squashfs;*.scap;*.uefif;*.vhd;*.xar;*.pkg;*.xz;*.txz;*.z;*.taz;*.7z;*.cab;*.chm;*.chi;*.chq;*.chw;*.hxs;*.hxi;*.hxr;*.hxq;*.hxw;*.lit;*.iso;*.nsis;*.rar;*.r00;*.tar;*.udf;*.wim;*.swm;*.zip;*.zipx;*.jar;*.xpi;*.odt;*.ods;*.docx;*.xlsx;*.epub;*.r01</NamePattern>
                                    </NameFilter>
                                </Filters>
                            </AggregatedFilter>
                            <Name>Archive</Name>
                            <ForeColor>DarkGreen</ForeColor>
                        </ListViewHighlighter>
                    </ArrayOfListViewHighlighter>
                </value>
            </setting>
        </Nomad.Properties.Settings>
        <Nomad.VirtualFilePanelSettings>
            <setting name="FolderNameCasing" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FileNameCasing" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="QuickFindOptions" serializeAs="String">
                <value>ExecuteOnEnter, AutoHide, AutoShow</value>
            </setting>
            <setting name="BreadcrumbOptions" serializeAs="String">
                <value>ShowShortRootName, ShowActiveState, ShowDriveMenuOnHover, VistaLikeBreadcrumb, ShowFolderIcon</value>
            </setting>
            <setting name="ItemActivation" serializeAs="String">
                <value>Standard</value>
            </setting>
        </Nomad.VirtualFilePanelSettings>
    </userSettings>
</configuration>